<div class="row bg-white pb-5">
  <div class=" col-lg-6 col-md-8  m-auto ">
    <div class=" p-3">
      <div class="mt-3 ">
        <h2 class="text-center">Add your pet:</h2>
        <br>
        <%= render partial: "form", locals: { pet: @pet } %>
      </div>
    </div>
  </div>
</div>
