.inline-button {
  height: 60px;
  margin: 0 auto;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  color: $green;
  border-radius: 10px;
  border: 1px solid $green;
  box-shadow: 0px 0px 8px #D2D5D9;
  p {
    font-size: 18px;
    margin: auto;
  }
  .icon-button {
    font-size: 15px;
    margin-left: 20px;
  }
}


#join-call{
  background-color: $green;
  color: $light-gray;
}
