.card-link {
  text-decoration: none;

  p {
    color: gray
  }
}

.card-link:hover {
  text-decoration: none;

}

.link-border {
  border: 1px solid #c5c5c5;
  box-shadow: 0px 0px 8px #D2D5D9;
  transition: all 0.4s ease;
  border-radius: 24px;
}

.link-border:hover {
  border: 1px solid $green;
  h4 {
    color: #29423d !important;
  }
}
