.vet-reply {
  border: 2px solid #28a745; /* Green border for vet's reply */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;

  .post-content {
    margin-bottom: 10px;
  }

  .vet-icon {
    text-align: right;

    i {
      color: #28a745; /* Green color for vet icon */
      font-size: 24px;
    }
  }
}


.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  .post-content {
    margin-bottom: 5px;
  }
}
