<div class="container-fluid custom-appointments">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="pet-form bg-white">
        <div class="bg-white ">
          <h1 class="text-center"><%= current_user.vet? ? "Arrange Your Consultation" : "Schedule Your Appointment" %></h1>
          <% if current_user.vet? %>
            <div class="reminder text-center">Remember to save your changes!</div>
          <% else %>
            <div class="instruction text-center">Please select a date and time to view available veterinarians.</div>
          <% end %>
          <br>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
