<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Appointment Details</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Date:</strong> <%= @appointment.appointment_date.strftime("%B %d, %Y") %></p>
              <p><strong>Time:</strong> <%= @appointment.appointment_time.strftime("%I:%M %p") %></p>
              <p><strong>Status:</strong> <%= @appointment.status %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Description:</strong></p>
              <p><%= @appointment.description_of_problem %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
