<div class="call-bg pt-2">
  <div class="container">
    <div class=" iframe-container">
      <iframe
        class="w-100"
        src="<%= @appointment.zoom_link %>"
        allow="camera; microphone; fullscreen; display-capture; autoplay; compute-pressure"
      ></iframe>
    </div>
  </div>
</div>
